<!DOCTYPE html>
{% load static %}
<head>
 <title>About</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial">
    <title>Errand Service Website about</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="heading">
        <h1 class="errand">About</h1>
        </div>
     <div class="hero">
        <nav>
            <ul><a href="{% url 'home' %}">Home</ul>
            <ul><a href="{% url 'about' %}">About</ul>
            <ul><a href="{% url 'service' %}">Services</ul>
            <ul><a href="{% url 'signup' %}">signup</ul>
        </nav>
     </div>

<div class="contain">

    {% for public in publics %}
        <p>{{ public.body }}</p>
    {% endfor %}

   <picture>
    <!-- <source media="(min-width: 650px)" srcset="img_lout.jpg"> -->
    <img src="{% static 'images/cum.jpg' %}" alt="dirt" width="40%" height="30%">
    <img src="{% static 'images/lout.jpg' %}" alt="dirt" width="40%" height="30%">
    <img src="{% static 'images/washing.png' %}" alt="dirt" width="40%" height="30%">
    <img src="{% static 'images/matg.jpg' %}" alt="dirt" width="40%" height="30%">
    <img src="{% static 'images/bku.jpg' %}" alt="dirt" width="40%" height="30%">
    <source media="(min-width: 465px)" srcset="img_dirt.jpg">

  </picture>

<div class="blue">
<p>CONTACT US: 08148653113</p>
</div>
</div>
<footer>
    <div class="band">
    <a href="https://wa.me/c/2348148653113" class="footer-link"><img src="images/whatsapp.png" height="20px" width="20px">
        <a href="https://instagram.com/edwingift10" class="footer-link"><img src="Images/ig.png" height="20px" width="20px">
            <a href="https://gifteelovebaby@gmail.com" class="footer-link"><img src=" images/mail.png" height="20px" width="20px">

</a>
    </div>
</footer>




</body>


</html>